#chessboard{
    width:320px;
    height:320px;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 40px;
    width: 40px;
    position: relative;
}

.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
}

.beige{
    background-color: rgb(110, 110, 98);
}

.brown{
    background-color: rgb(169, 43, 43);
}

.black{
    fill: rgb(25, 25, 25);
}
.white{
    fill: rgb(227, 227, 227);
}
